Repository gang21/CS130-Capstone-Project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ribru17, @georgiatrent, @annaellebgt, @gang21, @adrianmc15

config files and sample test case (currently not working) as example for setup
  front/jest.config.js
  front/jest.setup.ts
  front/src/__tests__/sample.test.tsx
  package.json
Owners: @ribru17, @georgiatrent, @annaellebgt

test: comment out failing tests
  front/__tests__/Resourcepage.test.tsx
Owners: @ribru17, @georgiatrent, @annaellebgt

test: comment out failing tests
  front/__tests__/Resourcepage.test.tsx
Owners: @ribru17, @georgiatrent, @annaellebgt

set up an simple leaderboard page
  front/src/App.tsx
  front/src/components/LeaderBoard.tsx
  front/src/components/NavBar/AppHeader.tsx
  front/src/components/NavBar/HamburgerMenu.tsx
  front/src/pages/LeaderBoardPage.tsx
Owners: @ribru17, @georgiatrent, @annaellebgt

leaderboard page connected to backend
  front/src/api/apiSdk.ts
  front/src/components/LeaderBoard.tsx
  front/src/components/NavBar/AppHeader.tsx
  front/src/pages/LeaderBoardPage.tsx
Owners: @ribru17, @georgiatrent, @annaellebgt

remove unused statement
  front/src/pages/LeaderBoardPage.tsx
Owners: @ribru17, @georgiatrent, @annaellebgt

fix bug and improve styling
  front/src/components/LeaderBoard.tsx
  front/src/components/NavBar/HamburgerMenu.tsx
  front/src/pages/LeaderBoardPage.tsx
Owners: @ribru17, @georgiatrent, @annaellebgt

play prompt when user has 0 points
  front/src/components/PlayPrompt.tsx
  front/src/pages/LeaderBoardPage.tsx
Owners: @ribru17, @georgiatrent, @annaellebgt

api route to update score
  backend/src/controllers/userController.ts
  backend/src/routes/userRoutes.ts
  backend/src/server.ts
  front/src/api/apiSdk.ts
  front/src/pages/PlayPage.tsx
Owners: @gang21, @adrianmc15, @annaellebgt, @ribru17, @georgiatrent

update score on the play page
  front/src/pages/PlayPage.tsx
Owners: @ribru17, @georgiatrent, @annaellebgt

add enum with the type
  shared_types/exercise.ts
Owners: @annaellebgt, @ribru17

use zod to define exercice type
  shared_types/exercise.ts
  shared_types/resource.ts
  shared_types/scamCategory.ts
Owners: @annaellebgt, @ribru17

changes initi
  shared_types/exercise.ts
  shared_types/index.ts
Owners: @annaellebgt, @ribru17

add mock data in play page test
  front/__tests__/PlayPage.test.tsx
Owners: @ribru17, @georgiatrent, @annaellebgt

fix test playpage
  front/__tests__/PlayPage.test.tsx
Owners: @ribru17, @georgiatrent, @annaellebgt

added phone numbers, email addresses in line with data model, and backend definition
  auxiliary_scripts/align_data_model.ipynb
  auxiliary_scripts/generate_data.ipynb
  shared_types/scamCategory.ts
Owners: @adrianmc15, @annaellebgt, @ribru17

fixed formatting of file
  shared_types/scamCategory.ts
Owners: @annaellebgt, @ribru17

pop up when clicking on one resource
  front/src/components/Modal.tsx
  front/src/components/ResourceBox.tsx
  front/src/components/ResourceDetail.tsx
  front/src/pages/ResourcePage.tsx
Owners: @ribru17, @georgiatrent, @annaellebgt

update max length display
  front/src/components/ResourceBox.tsx
Owners: @ribru17, @georgiatrent, @annaellebgt

Update front/src/components/ResourceDetail.tsx
  front/src/components/ResourceDetail.tsx
Owners: @ribru17, @georgiatrent, @annaellebgt

Update front/src/components/ResourceBox.tsx
  front/src/components/ResourceBox.tsx
Owners: @ribru17, @georgiatrent, @annaellebgt

remove unused component
  front/src/components/Modal.tsx
Owners: @ribru17, @georgiatrent, @annaellebgt

update import react with type
  front/src/components/LeaderBoard.tsx
  front/src/components/ResourceBox.tsx
  front/src/components/ResourceDetail.tsx
  front/src/index.tsx
Owners: @ribru17, @georgiatrent, @annaellebgt

fix wrong import
  front/src/index.tsx
Owners: @ribru17, @georgiatrent, @annaellebgt

feat: update user score on card swipe
  front/src/pages/PlayPage.tsx
Owners: @ribru17, @georgiatrent, @annaellebgt

adding navigation and leaderboard test cases and fixing resource page tests
  front/__tests__/Leaderboard.test.tsx
  front/__tests__/Navigation.test.tsx
  front/__tests__/Resourcepage.test.tsx
Owners: @ribru17, @georgiatrent, @annaellebgt

tests: set up vitest
  front/__tests__/PlayPage.test.tsx
  front/__tests__/Resourcepage.test.tsx
  front/package-lock.json
Owners: @ribru17, @georgiatrent, @annaellebgt

test: comment out failing tests
  front/__tests__/Resourcepage.test.tsx
Owners: @ribru17, @georgiatrent, @annaellebgt

test: comment out failing tests
  front/__tests__/Resourcepage.test.tsx
Owners: @ribru17, @georgiatrent, @annaellebgt

adding navigation and leaderboard test cases and fixing resource page tests
  front/__tests__/Leaderboard.test.tsx
  front/__tests__/Login.test.tsx
  front/__tests__/Navigation.test.tsx
  front/__tests__/PlayPage.test.tsx
  front/__tests__/Resourcepage.test.tsx
  front/__tests__/Signup.test.tsx
  package-lock.json
Owners: @ribru17, @georgiatrent, @annaellebgt

increase by 10
  front/src/pages/PlayPage.tsx
Owners: @ribru17, @georgiatrent, @annaellebgt

remove testing print
  front/src/pages/PlayPage.tsx
Owners: @ribru17, @georgiatrent, @annaellebgt

emailing module now functioning
  backend/package-lock.json
  backend/package.json
  backend/src/controllers/userController.ts
  backend/src/utils/mailer.ts
  front/public/index.html
  front/src/pages/SignupPage.tsx
  package-lock.json
  package.json
Owners: @gang21, @adrianmc15, @annaellebgt, @ribru17, @georgiatrent

prettier formatting
  backend/src/utils/mailer.ts
Owners: @gang21, @adrianmc15, @annaellebgt

vercel test (do not merge)
  front/__tests__/Navigation.test 2.tsx
  front/__tests__/Resourcepage.test 2.tsx
  front/package-lock.json
  package.json
Owners: @ribru17, @georgiatrent, @annaellebgt

remastered Playpage tests
  front/__tests__/PlayPage.test.tsx
Owners: @ribru17, @georgiatrent, @annaellebgt

front-end graduation and remove back button
  front/src/api/apiSdk.ts
  front/src/components/ContainerPage.tsx
  front/src/components/EndGame.tsx
  front/src/pages/PlayPage.tsx
Owners: @ribru17, @georgiatrent, @annaellebgt

fix small bugs resource page
  front/src/components/ResourceDetail.tsx
  front/src/pages/ResourcePage.tsx
Owners: @ribru17, @georgiatrent, @annaellebgt

update threshold graduation
  backend/src/controllers/userController.ts
  front/src/pages/PlayPage.tsx
Owners: @gang21, @adrianmc15, @annaellebgt, @ribru17, @georgiatrent

update content email
  backend/src/controllers/userController.ts
Owners: @gang21, @adrianmc15, @annaellebgt

.github/CODEOWNERS:

/front/ @ribru17 @georgiatrent @annaellebgt
/backend/ @gang21 @adrianmc15 @annaellebgt
/.github/ @ribru17 @gang21
/auxiliary_scripts/ @adrianmc15
/shared_types/ @annaellebgt @ribru17
