Repository gang21/CS130-Capstone-Project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ribru17, @georgiatrent, @annaellebgt, @gang21, @adrianmc15

remove unused
  front/src/pages/PlayPage.tsx
Owners: @ribru17, @georgiatrent, @annaellebgt

refactor update user
  front/__tests__/PlayPage.test.tsx
  front/src/api/apiSdk.ts
  front/src/pages/PlayPage.tsx
Owners: @ribru17, @georgiatrent, @annaellebgt

fix issue no feedback at the end
  front/src/pages/PlayPage.tsx
Owners: @ribru17, @georgiatrent, @annaellebgt

fix tests and remove parameter to get only 2 exercises
  front/src/pages/PlayPage.tsx
Owners: @ribru17, @georgiatrent, @annaellebgt

feedback color and message
  front/src/components/PopUpFeedback.tsx
Owners: @ribru17, @georgiatrent, @annaellebgt

remove profile section
  front/src/components/NavBar/HamburgerMenu.tsx
Owners: @ribru17, @georgiatrent, @annaellebgt

app header outside container
  front/src/App.tsx
Owners: @ribru17, @georgiatrent, @annaellebgt

remove unused navbutton
  front/src/components/NavBar/HamburgerMenu.tsx
Owners: @ribru17, @georgiatrent, @annaellebgt

adding settings for vercel
  package.json
Owners: none

Flush out the theme, include MUI components
  front/src/index.tsx
Owners: @ribru17, @georgiatrent, @annaellebgt

update index.css to include new fonts
  front/src/index.css
Owners: @ribru17, @georgiatrent, @annaellebgt

add pictures
  front/public/FraudNinja.jpeg
  front/public/FraudNinjaLogo.jpeg
  front/src/components/NavBar/AppHeader.tsx
  front/src/images/FraudNinja.jpeg
  front/src/images/FraudNinjaLogo.jpeg
  front/src/images/fake-job.jpeg
  front/src/images/physhing.webp
  front/src/pages/HomePage.tsx
Owners: @ribru17, @georgiatrent, @annaellebgt

update prettier
  front/src/index.css
  package-lock.json
Owners: @ribru17, @georgiatrent, @annaellebgt

fix styling home page and navbar
  front/src/components/NavBar/AppHeader.tsx
  front/src/components/NavBar/HamburgerMenu.tsx
  front/src/images/FraudNinja.jpeg
  front/src/images/FraudNinjaLogo.jpeg
  front/src/images/Fraudninja-long.png
  front/src/images/Fraudninja.png
  front/src/pages/HomePage.tsx
Owners: @ribru17, @georgiatrent, @annaellebgt

remove unused import
  front/src/pages/HomePage.tsx
Owners: @ribru17, @georgiatrent, @annaellebgt

fix tests
  front/__tests__/Homepage.test.tsx
  front/__tests__/Navigation.test.tsx
Owners: @ribru17, @georgiatrent, @annaellebgt

small styling fixes
  front/src/index.css
  front/src/pages/PlayPage.tsx
  front/src/pages/SwipeableCard.css
Owners: @ribru17, @georgiatrent, @annaellebgt

getting backend api for vercel to work
  backend/package-lock.json
  backend/package.json
Owners: @gang21, @adrianmc15, @annaellebgt

versioning untracked files
  .vercel/README.txt
  .vercel/output/builds.json
  .vercel/output/config.json
  .vercel/project.json
  front/__tests__/Navigation.test 3.tsx
  front/__tests__/Resourcepage.test 3.tsx
Owners: @ribru17, @georgiatrent, @annaellebgt

added api documentation
  auxiliary_scripts/align_data_model.ipynb
  backend/package-lock.json
  backend/package.json
  backend/src/routes/exerciseRoutes.ts
  backend/src/routes/resourceRoutes.ts
  backend/src/routes/sessionRoutes.ts
  backend/src/routes/userRoutes.ts
  backend/src/server.ts
  backend/src/utils/swaggerConfig.ts
  package-lock.json
  package.json
Owners: @adrianmc15, @gang21, @annaellebgt

fixed formatting
  backend/src/routes/exerciseRoutes.ts
  backend/src/routes/resourceRoutes.ts
  backend/src/routes/sessionRoutes.ts
  backend/src/routes/userRoutes.ts
  backend/src/utils/swaggerConfig.ts
Owners: @gang21, @adrianmc15, @annaellebgt

trying to fix cd with render instead of vercel
  front/package-lock.json
  front/package.json
  front/src/api/apiSdk.ts
  front/src/index.tsx
Owners: @ribru17, @georgiatrent, @annaellebgt

trying to fix cd with render instead of vercel
  front/package-lock.json
  front/package.json
  front/src/api/apiSdk.ts
  front/src/index.tsx
Owners: @ribru17, @georgiatrent, @annaellebgt

Update README.md for CD
  README.md
Owners: none

docs: readme wiki link fixup (#103)
  README.md
Owners: none

added pdf docs
  api-docs.pdf
Owners: none

Api documentation (#99)
  api-docs.pdf
  auxiliary_scripts/align_data_model.ipynb
  backend/package-lock.json
  backend/package.json
  backend/src/routes/exerciseRoutes.ts
  backend/src/routes/resourceRoutes.ts
  backend/src/routes/sessionRoutes.ts
  backend/src/routes/userRoutes.ts
  backend/src/server.ts
  backend/src/utils/swaggerConfig.ts
  package-lock.json
  package.json
Owners: @adrianmc15, @gang21, @annaellebgt

.github/CODEOWNERS:

/front/ @ribru17 @georgiatrent @annaellebgt
/backend/ @gang21 @adrianmc15 @annaellebgt
/.github/ @ribru17 @gang21
/auxiliary_scripts/ @adrianmc15
/shared_types/ @annaellebgt @ribru17
